<style>
    footer .elements{
        height:200px;
    }
    footer .elements .socials{
        padding:3px;
        font-size: 25px;
    }
    
    footer .elements .socials a:hover{
        text-decoration: none !important;
    }

    footer .elements .socials a{
        margin: 5px;
    }
    
</style>

<footer class = "text-center bg-primary text-white h-5">
    <div class = "elements">
        <h4 class = "pt-5 font-weight-bolder text-white" style="font-family: barabara; letter-spacing: 2px; margin-left:5px;">CHI MNL</h4>
        <p>Copyright © 2020</p>
        <div class = "socials">
            <a href = "https://www.facebook.com/chimnl" target = "_blank" class = "text-white">
                <i class="fab fa-facebook"></i>
            </a>
            <a href = "https://twitter.com/chi_mnl" target = "_blank" class = "text-white">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>