<style>
    @media only screen and (max-width: 991px) {
        .card-body .event-img{
            max-width: 100% !important;
            min-width: 100% !important;
            min-height: 340px !important;
            background-position: center !important;
        }
        .card-body .event-details{
            margin-top: 15px;
        }
    }
    .card-body .event-img{
        width: 200px;
        border-radius: 15px;
        background-position: center; 
        background-size: contain;
        background-repeat: no-repeat;
    }

</style>

{% assign events = site.data.events | where: "status", "ended" %}

{% for event in events %}
    <div class = "card mt-5">
        <div class = "card-body row">
            <div class = "col-lg-3">
                <div class = "event-img mx-auto" style = "background-image: url('{{ event.image }}');"></div>
                <!-- <img class ="event-img" src="{{ event.image }}" alt="Event image"> -->
            </div>
            <div class = "col-lg ml-3 mr-3 event-details d-flex flex-column flex-wrap justify-content-center">
                <h5 class ="font-weight-bolder text-primary"> {{ event.name }}  </h5>
                <p> {{ event.date }} {% if event.day %} ({{ event.day }}) {% endif %} {% if event.time %} {{ event.time }} {% endif %} </p>
            </div>
        </div>
    </div>
{% endfor %}
