---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face{
    font-family: barabara;
    src: url(fonts/Barabara.otf);
}

@import "variables",
        "bootstrap/bootstrap",
        "syntax-highlighting",
        "bootstrap-4-jekyll/bootstrap-4-jekyll",
        "bootstrap_customization";
        
@import url(css/execom.css);